:root {
  --cell-size: 20px;
  background: #fafafa;
}

* {
  box-sizing: border-box;
}

.grid {
  position: relative;
  user-select: none;
  &.alt {
    cursor: pointer;
  }

  .row {
    display: flex;
  }

  .cell {
    width: var(--cell-size);
    height: var(--cell-size);
    background: #fafafa;
    border: 1px solid lightgrey;
    border-right: none;
    border-bottom: none;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 var(--cell-size) / 4;
    overflow: hidden;
    text-transform: full-width;
  }

  .cursor {
    position: absolute;

    .selectionRange {
      background: rgba(100, 100, 255, 0.1);
      position: absolute;
      top: 0;
      left: 0;
      padding-left: calc(1px + var(--cell-size));
      padding-top: calc(1px + var(--cell-size));
      pointer-events: none;
    }

    .dashedRange {
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      padding-left: calc(1px + var(--cell-size));
      padding-top: calc(1px + var(--cell-size));
      outline: 2px dashed blueviolet;
    }

    .inputRange {
      position: absolute;
      top: 1px;
      left: 1px;
      width: calc(var(--cell-size) - 1px);
      height: calc(var(--cell-size) - 1px);
      pointer-events: none;
      /* outline: 1px solid rgba(0, 0, 0, 0.7); */
      border-left: 2px solid salmon;
      display: flex;
      &.composing {
        animation: pulsate 1s infinite;
      }
    }
  }
  .textarea {
    position: fixed;
    top: 0;
    left: 0;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes pulsate {
  0% {
    outline-color: rgba(0, 0, 0, 0.7);
  }
  50% {
    outline-color: rgba(0, 0, 0, 0.2);
  }
  100% {
    outline-color: rgba(0, 0, 0, 0.7);
  }
}
